body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}


header {
    min-height: 350px;
    background: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/banner.jpeg');
    background-size: cover;
    position: relative;
}

header > * {
    z-index: 1;
}

header::after {
    content: '';
    background-color: black;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-image img{
    border-radius: 50%;
    width: 150px;
    height: 180px;
}

.profile-name {
    font-size: 44px;
    font-weight: 700;
    font-family: monospace;
    margin: 10px 0px;
}

.subtext {
    font-family: sans-serif;
    font-size: 16px;
}

.main {
    margin-top: 32px;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}

footer strong {
    padding: 0px 10px;
    color: red;
    font-size: 24px;
}

.post {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
    height: 200px;
    overflow: hidden;
}

.post-image {
    flex-basis: 40%;
    background-image: url(https://cdn.pixabay.com/photo/2020/05/23/20/08/book-5211309__340.jpg);
    background-size: cover;
    background-position: center;
}

.post-content {
    flex-basis: 60%;
    padding: 20px;
}

.post-date {
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.post-title {
    font-weight: bold;
    margin: 5px 0px;
    font-size: 24px;
    color: #333;
}

.post-text {
    font-size: 14px;
    line-height: 22px;
}

.post-title h4 {
    margin: 0;
}